In [6]:
#Create dataframe from csv file
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  02/01/2017           35          8  Sunny
2  03/01/2017           28          2   Snow
3  04/01/2017           24          7   Snow
4  05/01/2017           32          4   Rain
5  06/01/2017           31          2  Sunny

In [9]:
#Create dataframe by reading from excell file
df = pd.read_excel("weather_data.xlsx")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          8  Sunny
2 2017-01-03           28          2   Snow
3 2017-01-04           24          7   Snow
4 2017-01-05           32          4   Rain
5 2017-01-06           31          2  Sunny

In [11]:
#Create dataframe using python dictionary.
weather_data = {
    'day': ['1/1/2017', '1/2/2017', 1//2017],
    'temperature': [32,35,28],
    'windspeed' : [6,7,2],
    'event' : ['Rain', 'Sunny', 'Snow']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2         0           28          2   Snow

In [12]:
# Create dataframe using tupples list
weather_data = [
    ('1/1/2017', 32, 6,'Rain'),
    ('1/2/2017', 35, 7, 'Sunny'),
    ('1/3/2017', 28, 2, 'Snow')
]
df = pd.DataFrame(weather_data, columns= ["day", "temperature", "windspeed", "event"])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [13]:
# Create using list of dictionaries
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'}
]
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow